.header {
  text-align: center;
}

.timer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    padding: 40px;
    margin: 0 auto;
  }
  &__interface {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__display {
    display: block;
    font-size: 100px;

    &.inactive {
      pointer-events: none;
    }
  }
  &__btnBar {
    display: flex;
    gap: 10px;
  }
  &__button {
    font-size: 16px;
    color: #dbeceb;
    width: 70px;
    height: 70px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;

    &.pauseBtn {
      background-color: #ff4a4a;
    }
    &.startBtn {
      background-color: #4da49c;
    }
    &.resetBtn {
      color: #efecec;
      background-color: #4387d0;
    }
    &.pauseBtn:hover, &.startBtn:hover, &.resetBtn:hover {
      background-color: #000;
      transition: background-color linear 0.5s;
    }
    &.inactive {
      pointer-events: none;
      color: #bfc0c0;
      background-color: #fff;
    }
  }
  &__status-bar {
    width: 540px;
    height: 20px;
    background: linear-gradient(90deg, #059305 100%, #aaa 0);
  }
}