.media__wrapper {
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}

.media__list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.media__item, .media__list-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}

.media__item {
    max-width: 500px;
}

.media__title {
    font-size: 30px;
    margin: 0;
    max-width: 300px;
}

.media__poster {
    max-width: 300px;
    max-height: 450px;
}

.media__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.media__list-info {
    padding: 85px 0 0;
}

.media__item-info {
    display: flex;
    align-items: baseline;
    gap: 10px
}

.media__info-title {
    font-size: 17px;
    margin: 0;
    color: #9f9f9f;
}

.media__info-content {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.media__button {
    display: block;
    margin: 20px auto 0;
    min-width: 66px;
    min-height: 30px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0 5px #a1a1a1;
}

.media__button:hover {
    background-color: #9f9f9f;
    color: #f4f4f4;
    box-shadow: 0 0 11px #5b5757;
}