@media only screen and (min-width: 768px) {
  .footer__sn {
    gap: 24px;
    margin: 24px;
  }
}

@media only screen and (min-width: 1400px) {
  .control-panel{
    &__notification, &__link {
      margin: 24px 0;
    }
  }
  .footer__sn {
    margin: 0;
  }
}