@import "variables";

.section-three, footer {
  background-color: $secondary-bg-color;
  color: white;
}

.section-three .figcaption-title, footer .author {
  font-size: 21px;
  font-weight: 500;
}

.section {
  &-nav, &-one, &-video {
    background-color: $primary-bg-color;
  }

  &-two, &-video {
    text-align: center;
  }

  &-one {
    p {
      margin-top: 60px;
    }

    button {
      margin: 65px auto 141px;
    }
  }

  &-two {
    p {
      margin: 50px auto 100px;
    }

    .sub-title {
      margin: 112px auto 50px;
    }
  }

  &-three {
    img {
      padding-right: 20px;
      float: left;
    }

    figure {
      width: 136px;
      margin: 0;
    }


    .wrapper::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  &-video {
    p {
      margin: 50px auto 57px;
    }

    .sub-title {
      padding-top: 100px;
      margin: 0 auto 50px;
    }

    iframe {
      margin-bottom: 100px;
      min-width: 1110px;
      min-height: 623px;
    }
  }
}

.main-title {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.sub-title {
  display: block;
  font-size: 32px;
  font-weight: 500;
}