.section-nav, .section-one, .section-video {
  background-color: #EEEFF1;
}

.section-two, .section-video {
  text-align: center;
}

.section-three, footer {
  background-color: #34547A;
  color: white;
}

.section-three img {
  padding-right: 20px;
  float: left;
}

.section-three .wrapper {
  display: flex;
}

.section-three figure {
  width: 136px;
  padding: 100px 0;
  margin: 0 49px 0 0;
}

.section-three .figcaption-title, footer .author {
  font-size: 21px;
  font-weight: 500;
}

.section-three .wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.section-one p {
  margin-top: 60px;
}

.section-two p {
  margin: 50px auto 100px;
}

.section-video p {
  margin: 50px auto 57px;
}

.section-one button {
  margin: 65px auto 141px;
}

.main-title {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.sub-title {
  display: block;
  font-size: 32px;
  font-weight: 500;
}

.section-two .sub-title {
  margin: 112px auto 50px;
}

.section-video .sub-title {
  padding-top: 100px;
  margin: 0 auto 50px;
}

.section-video iframe {
  margin-bottom: 100px;
}