.footer {
    min-height: 50px;
    background-color: beige;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    color: var(--background);
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1440px) {

}