.button {
  min-width: 30px;
  min-height: 26px;
  font-size: 16px;
  border: 2px solid #2d2f31;

  &.light {
    background-color: white;
  }

  &.dark {
    color: #fff;
    background-color: #2d2f31;
  }
}