.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  text-decoration: none;
  min-width: 21px;
  min-height: 21px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  border: none;

  &.light, &.dark {
    border: 2px solid #2d2f31;
  }

  &.dark {
    color: #fff;
    background-color: #2d2f31;
  }

  &.light:active, &.dark:active {
    box-shadow: 0 0 4px 1px #b9babb;
  }
}