.partners {
  min-width: 950px;
  background-color: #f7f9fa;

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }

  &__content {
    font-weight: 400;
    color: #8a8c8e;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 25px;
  }

  &__logo {
    max-width: 101px;
  }
}