/* normalize block */
/*! _normalize.scss v8.0.1 | MIT License | github.com/necolas/_normalize.scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* end normalize block */
/* variables block */
/* end variables block */
/* global block */
body {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

figure, dd {
  margin: 0;
}

.volkhov {
  font-weight: 700;
  font-family: "Volkhov", serif;
}

select {
  background: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.bg-space {
  position: relative;
}

.hidden {
  display: none;
}

/* end global block */
/* header block */
.header__wrapper {
  display: flex;
  padding: 48px 140px;
  justify-content: space-between;
  align-items: center;
}
.header__block-actions, .header__navigation, .header__auth {
  display: flex;
  align-items: center;
  gap: 86px;
}
.header__navigation {
  gap: 60px;
}
.header__navigation a {
  font-size: 17px;
  font-weight: 400;
  color: #212832;
}
.header__auth {
  gap: 47px;
}
.header__auth a, .header button, .header select, .header option {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
}
.header__button {
  min-width: 102px;
  min-height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
  background: none;
}
.header__auth select {
  border: 0;
}

/* end header block */
/* styles block */
/* section-intro block */
.section-intro__wrapper {
  padding: 0 150px;
}
.section-intro__paragraph {
  max-width: 410px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #DF6951;
  margin: 0 0 24px;
}
.section-intro__title {
  margin: 24px 0;
  max-width: 545px;
  font-size: 77px;
  line-height: 89px;
  color: #181E4B;
}
.section-intro__description {
  margin: 30px 0;
  display: block;
  max-width: 477px;
  line-height: 30px;
  color: #5E6282;
}
.section-intro__list {
  display: flex;
  gap: 44px;
  align-items: center;
  margin: auto auto 222px;
}
.section-intro__button {
  min-width: 170px;
  min-height: 60px;
  border: 1px solid #F1A501;
  border-radius: 10px;
  background: #F1A501;
  font-size: 18px;
  color: white;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
}
.section-intro__link {
  display: flex;
  gap: 21px;
  align-items: center;
  color: #686D77;
  transition: transform 0.2s ease;
}
.section-intro__link span {
  font-size: 17px;
  color: #686D77;
}
.section-intro__link .intro-icon {
  max-width: 60px;
  max-height: 60px;
  border-radius: 28px;
  box-shadow: 0 13px 20px 8px rgba(245, 56, 56, 0.2);
}
.section-intro__link:hover {
  transform: scale(1.1);
}
.section-intro__wrapper:hover .bg-decor-plane_1, .section-intro__wrapper:hover .bg-decor-plane_2 {
  transform: translate(220%, -216%) scale(0.15);
}

.title_wrapper {
  position: relative;
}

.bg-intro-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.bg-intro-decor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}
.bg-traveller {
  position: absolute;
  top: 110px;
  right: 7%;
  z-index: -5;
}
.bg-decor-plane_1, .bg-decor-plane_2 {
  position: absolute;
  top: 170px;
  right: 39%;
  z-index: -10;
  transition: all 2s ease-in-out;
}
.bg-decor-plane_2 {
  top: 215px;
  right: 80px;
}
.bg-underline-decor {
  position: absolute;
  top: 68px;
  left: 243px;
  z-index: -10;
}

/* end section-intro block */
/* offer block */
.content-container {
  text-align: center;
  margin: 0 auto;
}

.offers__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 58px 0 150px;
}
.offers__paragraph {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin: 10px auto;
}
.offers__title {
  font-size: 50px;
  margin: 10px auto 68px;
}
.offers__card-wrapper {
  padding: 0 155px 0 110px;
  margin: 0 auto 123px;
}
.offers__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offers__item {
  position: relative;
}
.offers__card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 267px;
  min-height: 314px;
  border-radius: 36px;
  text-align: center;
  background: white;
  transition: z-index 0.2s linear;
}
.offers__card-corner {
  opacity: 0;
  transition: opacity;
  position: absolute;
  max-width: 100px;
  bottom: -50px;
  left: -50px;
  z-index: 0;
}
.offers__card-image {
  max-width: 75px;
  min-width: 75px;
  margin: 42px auto 0;
}
.offers__card__sub-title {
  max-width: 190px;
  font-size: 20px;
  font-weight: 500;
  color: #1E1D4C;
  margin: 29px auto 15px;
}
.offers__card-description {
  display: block;
  max-width: 181px;
  line-height: 26px;
  margin: 0 auto 45px;
}
.offers__item_hover:hover, .offers__item_hover:hover + .offers__card-corner {
  z-index: 10;
  opacity: 1;
  box-shadow: 0 30px 20px -10px rgba(19, 18, 35, 0.1);
}
.offers__item_hover:hover + .offers__card-corner {
  z-index: 5;
}

/* end offer block */
/* top-selling block */
.top-selling__wrapper {
  position: relative;
  padding: 0 227px 186px 174px;
}
.top-selling__paragraph {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin: 10px auto;
}
.top-selling__title {
  font-size: 50px;
  margin: 10px auto 68px;
}
.top-selling__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-selling__card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 314px;
  max-width: 314px;
  min-height: 457px;
  max-height: 457px;
  border-radius: 24px;
  text-align: center;
  transition: transform 1s ease;
}
.top-selling__card-container:hover {
  transform: scale(1.1);
  box-shadow: 0 48px 20px -10px rgba(19, 18, 35, 0.04);
}
.top-selling__card-container-caption {
  position: absolute;
  bottom: -2px;
  min-width: 316px;
  max-width: 316px;
  min-height: 115px;
  max-height: 115px;
  background: white;
  border-radius: 0 0 24px 24px;
}
.top-selling__card-image {
  max-width: 314px;
}
.top-selling__card-description {
  display: flex;
  align-items: center;
  color: #5E6282;
}
.top-selling__card-description img {
  max-width: 20px;
  margin: 0 11px 0 20px;
}
.top-selling__bg-italy {
  background-image: url("/H_Fullstack_JS/lesson_12/jadoo/assets/images/cover_it.jpg"), url("/lesson_12/jadoo/assets/images/cover_it.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-selling__bg-united-kingdom {
  background-image: url("/H_Fullstack_JS/lesson_12/jadoo/assets/images/cover_uk.jpg"), url("/lesson_12/jadoo/assets/images/cover_uk.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-selling__bg-europa {
  background-image: url("/H_Fullstack_JS/lesson_12/jadoo/assets/images/cover_eu.jpg"), url("/lesson_12/jadoo/assets/images/cover_eu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top-selling__bg-spring-decor {
  position: absolute;
  bottom: 235px;
  right: 160px;
  z-index: -5;
}
.top-selling__sub-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 22px;
  padding: 0 20px;
  margin: 28px auto 18px;
  color: #5E6282;
}

/* end top-selling block */
/* booking-steps block */
.booking-steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 255px 0 186px;
  margin: 0 auto 209px;
}
.booking-steps__paragraph {
  max-width: 511px;
  margin: 0 0 15px;
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
}
.booking-steps__title {
  max-width: 511px;
  margin: 15px 0 31px;
  font-size: 50px;
  text-transform: capitalize;
}
.booking-steps__figure {
  display: flex;
  align-items: flex-start;
  margin: 0 0 48px;
}
.booking-steps__image {
  max-width: 47px;
  max-height: 48px;
  margin: 0 21px auto 0;
}
.booking-steps__image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 17px 15px 46px 17px;
}
.booking-steps__figcaption {
  max-width: 327px;
  line-height: 20px;
  color: #5E6282;
}
.booking-steps__subtitle {
  font-weight: 700;
  margin: 0 0 4px;
}
.booking-steps__step-description {
  display: block;
  line-height: 20px;
  margin: 4px 0 0;
}
.booking-steps__card-container {
  position: relative;
  min-width: 370px;
  border-radius: 26px;
  background: white;
  box-shadow: 0 20px 20px 8px rgba(19, 18, 35, 0.06);
}
.booking-steps__card-wrapper {
  margin: 20px 25px 31px;
}
.booking-steps__card-cover {
  max-width: 320px;
  border-radius: 24px;
}
.booking-steps__card-title {
  font-size: 18px;
  line-height: 22px;
  color: #080809;
  margin: 26px 0 13px;
}
.booking-steps__card-description {
  line-height: 20px;
  color: #84829A;
  margin: 13px 0 21px;
}
.booking-steps__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-steps__list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.booking-steps__anchor {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F5F5F5;
}
.booking-steps__icon {
  max-width: 14px;
  max-height: 14px;
  margin: auto;
}
.booking-steps__icon-heart {
  max-width: 20px;
  max-height: 20px;
  margin: 0;
}
.booking-steps__icon-building {
  max-width: 16px;
  max-height: 16px;
}
.booking-steps__span {
  line-height: 20px;
  color: #84829A;
}
.booking-steps__bg-shadow {
  position: absolute;
  top: -145px;
  z-index: -5;
  max-width: 500px;
}
.booking-steps__pop-up-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  bottom: 68px;
  right: -115px;
  max-width: 263px;
  border-radius: 18px;
  background: white;
  box-shadow: 0 30px 20px -3px rgba(19, 18, 35, 0.06);
  transition: transform 0.5s ease-in-out;
  transform-origin: top right;
}
.booking-steps__pop-up-container:hover {
  transform: rotate(-20deg) skew(2deg, 5deg) scale(1.1);
}
.booking-steps__pop-up-image {
  max-width: 74px;
  margin: 0 0 0 -13px;
}
.booking-steps__pop-up-text {
  margin: 17px 17px 17px 0;
  color: #080809;
}
.booking-steps__pop-up-status {
  font-size: 14px;
  line-height: 17px;
  color: #84829A;
  margin: 0 auto 6px 0;
}
.booking-steps__pop-up-title {
  font-size: 18px;
  line-height: 22px;
  margin: 6px auto 14px 0;
}
.booking-steps__progress {
  font-size: 14px;
  line-height: 17px;
  margin: 14px auto 10px 0;
}
.booking-steps__progress-bar {
  display: block;
  width: 73px;
  height: 5px;
  border-radius: 30px;
  background-color: #8A79DF;
}
.booking-steps__progress-bar-box {
  display: block;
  width: 156px;
  height: 5px;
  border-radius: 30px;
  margin: 10px auto 5px 0;
  background-color: #F5F5F5;
}
.booking-steps__highlighted-text {
  color: #8A79DF;
}

/* end booking-steps block */
/* review block */
.review__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 89px 96px 186px;
}
.review__text-container {
  max-width: 410px;
}
.review__paragraph {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5E6282;
  margin: 0 0 8px;
}
.review__title {
  font-size: 50px;
  text-transform: capitalize;
  color: #14183E;
  margin: 8px 0 82px;
}
.review__indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87px;
  margin: 82px auto 88px 0;
}
.review__indicator {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #E5E5E5;
}
.review__indicator_active {
  background-color: #39425D;
}
.review__card-container {
  position: relative;
  display: flex;
  align-items: center;
}
.review__card-frame {
  margin: 0 66px 0 0;
}
.review__image-container {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 521px 288px 0;
}
.review__avatar {
  max-width: 74px;
  margin: 0 0 0 -4px;
}
.review__msg {
  display: block;
  max-width: 402px;
  line-height: 32px;
  margin: 28px 68px 34px 34px;
}
.review__msg-frame {
  position: absolute;
  top: 34px;
  left: 37px;
  z-index: -5;
  width: 504px;
  min-height: 245px;
  border-radius: 10px;
  color: #5E6282;
  background-color: white;
  box-shadow: 0 30px 20px -2px rgba(19, 18, 35, 0.06);
}
.review__author {
  display: block;
  max-width: 402px;
  font-size: 18px;
  font-weight: 600;
  margin: 34px auto 5px 34px;
}
.review__author_covered {
  margin: 156px auto 5px 34px;
}
.review__caption {
  display: block;
  font-size: 14px;
  margin: 5px auto 5px 34px;
}
.review__msg-frame_covered {
  top: 124px;
  left: 85px;
  z-index: -10;
  border: 2px solid #F7F7F7;
  box-shadow: none;
}

/* end review block */
/* sponsor block */
.sponsor__wrapper {
  min-height: 162px;
  padding: 0 181px 111px 186px;
}
.sponsor__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sponsor__item {
  display: flex;
  min-width: 162px;
  max-width: 162px;
  position: relative;
}
.sponsor__link {
  display: block;
  margin: auto;
}
.sponsor__item:hover + .sponsor__logo-frame {
  opacity: 1;
}
.sponsor__logo {
  max-width: 162px;
  margin: auto;
  filter: grayscale(100%);
}
.sponsor__logo-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 240px;
  min-height: 86px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity;
  z-index: -5;
  box-shadow: 0 15px 20px -2px rgba(19, 18, 35, 0.06);
}
.sponsor__logo:hover, .sponsor__logo:hover + .sponsor__logo-frame {
  opacity: 1;
  filter: grayscale(0%);
}

/* end sponsor block */
/* subscribe block */
.subscribe__wrapper {
  padding: 0 135px 166px 135px;
}
.subscribe__frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  border-radius: 129px 20px 20px 20px;
  background-color: #f9f7fe;
}
.subscribe__title {
  margin: 79px 155px 74px;
  max-width: 860px;
  font-size: 33px;
  font-weight: 600;
  line-height: 54px;
  color: #5E6282;
  text-align: center;
}
.subscribe__form {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0 auto 78px;
}
.subscribe__email-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  min-width: 420px;
  min-height: 68px;
  background-color: white;
  border-radius: 10px;
}
.subscribe__image {
  max-width: 21px;
}
.subscribe__input-email {
  width: 324px;
  border: 0;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #39425D;
}
.subscribe__button {
  min-width: 180px;
  min-height: 68px;
  padding: 22px 50px;
  border: 0;
  border-radius: 10px;
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.subscribe__bg-mail {
  max-width: 70px;
  position: absolute;
  top: -13px;
  right: -20px;
}
.subscribe__bg-circle-left {
  max-width: 375px;
  position: absolute;
  bottom: 0;
  left: 19px;
  z-index: -5;
}
.subscribe__bg-circle-right {
  max-width: 265px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
}
.subscribe__bg-pluses {
  max-width: 153px;
  position: absolute;
  bottom: -70px;
  right: -100px;
  z-index: -5;
}

/* end subscribe block */
/* end styles block */
/* footer block */
.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 194px 79px 186px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 1060px;
}
.footer__logo {
  display: block;
  max-width: 207px;
  font-size: 44px;
  color: #181E4B;
  margin: 0 0 19px;
}
.footer__description {
  display: block;
  max-width: 207px;
  font-size: 13px;
  line-height: 16px;
  margin: 19px 0 125px;
  color: #5E6282;
}
.footer__links {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  margin: 0 0 74px;
}
.footer__navigation-list {
  margin: 0;
}
.footer__navigation-title {
  display: block;
  margin: 0 0 34px 0;
  max-width: 115px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #080809;
}
.footer__link {
  display: block;
  margin: 0 0 12px;
  max-width: 115px;
  font-size: 18px;
  line-height: 22px;
  color: #5E6282;
}
.footer__social-networks {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 0 30px;
}
.footer__sn-link {
  display: flex;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 6px 20px -3px rgba(19, 18, 35, 0.1);
}
.footer__icon {
  max-width: 16px;
  max-height: 16px;
  margin: auto;
}
.footer__icon:hover use, .footer__sn-link:hover use, .footer__sn-link:hover {
  fill: white;
  stroke: white;
  background-image: conic-gradient(at 50% 50%, #B8D2F1 0deg, #F289AA 40deg, #C68BF0 80deg, #D164DA 120deg, #C963E8 160deg, #BFC2E8 200deg, #FFC999 240deg, #D0D8C9 280deg, #BAD0F1 320deg, #CED8CB 360deg, rgba(255, 255, 255, 0) 360deg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.footer__app-title {
  max-width: 180px;
  margin: 26px 0 16px;
  font-size: 20px;
  line-height: 25px;
  color: #5E6282;
}
.footer__app-link {
  display: flex;
  align-items: center;
  width: 107px;
  min-height: 36px;
  border-radius: 18px;
  background-color: black;
}
.footer__app-icon {
  max-width: 20px;
  max-height: 20px;
  margin: 8px 5px 8px 17px;
}
.footer__button-group {
  display: flex;
  gap: 7px;
  align-items: center;
}
.footer__app-subtitle {
  margin: 2px 0;
  font-size: 7px;
  font-weight: 700;
  color: white;
}
.footer__app-text {
  display: block;
  margin: 2px 0;
  font-size: 7px;
  font-weight: 100;
  color: white;
}
.footer .apple-button-text {
  font-size: 6px;
}
.footer .apple-button-subtitle {
  font-size: 9px;
}
.footer__copyright {
  min-width: 1040px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #5E6282;
}
.footer__decor {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
}

/* end footer block */

/*# sourceMappingURL=homepage.css.map */
