.light {
  --background: beige;
  --color: #000000;
  --nav-background: #333333;
  --nav-color: beige;
}

.dark {
  --background: #000000;
  --color: beige;
  --nav-background: beige;
  --nav-color: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
