@import "variables";

a, select {
  transition: transform 0.3s, text-shadow 0.3s;
}

a:before, select:before {
  transition: text-shadow 0.3s;
}

a:hover, select:hover {
  text-shadow: $third-text-color 1px 0 10px;
}

a:hover:before, select:hover:before {
  text-shadow: $third-text-color 1px 0 10px;
}

button {
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: inherit;
  z-index: -1;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 20px 20px 4px rgba(35, 166, 240, 0.2);
}

button:hover:before {
  transform: translateY(3px);
  box-shadow: 0 20px 20px 4px rgba(35, 166, 240, 0.2);
}