@import "mixins";
@import "variables";

body {
  @include primary-font();
  margin: 0;
}

.wrapper {
  max-width: 1440px;
  //max-width: 414px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

a {
  outline: none;
  text-decoration: none;
  color: black
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {

}