@import "variables";

.header {
  &__contacts {
    background-color: $primary-text-color;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 17px 24px;
    }
    &-direct {
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      img {
        max-width: 16px;
        max-height: 16px;
      }
      span, a {
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #fff;
      }
    }
    &-msg {
      line-height: 24px;
      letter-spacing: 0.2px;
      color: #fff;
    }
    &-social-media {
      display: flex;
      align-items: center;
      gap: 16px;

      li, a {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      img {
        max-width: 16px;
        max-height: 16px;
      }
      span {
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #fff;
      }
    }
  }
  &__grid {
    &-container {
      margin: 35px;
      display: grid;
      grid-template-areas:
          "header__grid__cell-logo header__grid__cell-menu-control"
          "header__grid__cell-navigation header__grid__cell-navigation";
      align-items: center;
    }

    &__cell-logo {
      grid-area: header__grid__cell-logo;
      justify-self: start;
    }

    &__cell-menu-control {
      display: flex;
      gap: 24px;
      grid-area: header__grid__cell-menu-control;
      justify-self: end;
      align-items: center;
    }

    &__cell-navigation {
      padding: 96px 0;
      display: flex;
      flex-direction: column;
      grid-area: header__grid__cell-navigation;
      justify-self: center;
      align-items: center;
    }
  }
  &__logo {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $primary-text-color;
  }
  &__menu-container {
    display: none;
  }
  &__menu-toggle:checked + &__menu-container {
    display: contents;
    max-width: 1vw;
  }
  &__navigation {
    &__link {
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0.2px;
      color: $secondary-text-color;
    }
  }
  &__category-shop {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
    border: 0;
    background: none;
  }
}