@import "mixins";
@import "variables";

.adv {
  &__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 13px 110px;
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    border-radius: 20px;
    overflow: hidden;

    picture {
      min-width: 387px;
      min-height: 376px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__paragraph {
    max-width: 125px;
    margin: 80px 0 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2A7CC7;
  }
  &__title {
    max-width: 270px;
    margin: 30px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: $primary-text-color;
  }
  &__description {
    max-width: 290px;
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
  &__button {
    min-width: 220px;
    min-height: 62px;
    margin: 0 0 73px;
    border: 0;
    border-radius: 5px;
    background-color: $third-text-color;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
  }
}
.brand {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
    align-items: center;
    margin: 0 0 111px;

    img {
      margin: 0 auto;
      max-width: 149px;
      max-height: 142px;
    }
  }
}

.top-product {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 35px 104px;
    overflow: hidden;
  }
  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__bg-content {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 345px;
    min-height: 238px;
    background-color: rgba(45, 139, 192, 0.75);
  }
  &__content {
    position: absolute;
    left: 41px;
    bottom: 36px;
  }
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #fff;
  }
  &__button {
    @include primary-font();
    min-width: 198px;
    min-height: 52px;
    margin: 26px 0 0;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
  }
}

.best-seller {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 35px;

    button {
      min-width: 256px;
      min-height: 52px;
      @include primary-font();
      line-height: 22px;
      letter-spacing: 0.2px;
      color: $third-text-color;
      border: 1px solid $third-text-color;
      border-radius: 5px;
      background: none;
      margin: 0 0 80px;
    }
  }
  &__title {
    max-width: 240px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0 0 10px;
    color: $primary-text-color;
  }
  &__description {
    max-width: 260px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
    margin: 0 0 32px;
  }
  &__grid {
    &-container {
      display: grid;
      padding: 24px;
      grid-template-columns: 1fr;
      gap: 30px;

      img {
        max-width: 300px;
        max-height: 360px;
      }
    }
    &-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sub-title {
    max-width: 240px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $primary-text-color;
    margin: 25px 0 10px;
  }
  &__category {
    max-width: 240px;
    display: block;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
    margin: 10px 0;
  }
  &__price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__price-wholesale, &__price-retail {
    display: block;
    max-width: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0 0 40px;
  }
  &__price-wholesale {
    color: $secondary-text-color;
  }
  &__price-retail {
    color: #23856D;
  }
}

.our-thoughts {
  &__wrapper {
    padding: 0 20px;
  }
  &__text-container {
    margin: 80px 47px 50px;
  }
  &__paragraph, &__title, &__description{
    max-width: 258px;
  }
  &__paragraph {
    margin: 0 0 16px;
    font-size: 16px;
    color: $third-text-color;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  &__title {
    margin: 16px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: $primary-text-color;
  }
  &__description {
    display: block;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
  &__list {
    display: flex;
    margin: 0 0 80px;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 205px;
      max-height: 363px;
    }
  }
}

.services {
  &__wrapper {
    margin: 0 0 80px;
    text-align: center;
  }
  &__grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 'grid-cell-list1' 'grid-cell-list2' 'grid-cell-list3' 'grid-cell-list4';
  }
  &__grid-cell {
    &-list:nth-child(1){
      grid-area: grid-cell-list1;
    }
    &-list:nth-child(2){
      grid-area: grid-cell-list2;
    }
    &-list:nth-child(3){
      grid-area: grid-cell-list3;
    }
    &-list:nth-child(4){
      grid-area: grid-cell-list4;
    }
  }
  &__header {
    p {
      max-width: 200px;
      margin: 80px auto 10px;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.2px;
      color: $secondary-text-color;
    }
    h2 {
      max-width: 255px;
      margin: 10px auto;
      font-size: 24px;
      font-weight: 700;
      color: $primary-text-color;
      line-height: 32px;
      letter-spacing: 0.1px;
    }
    span {
      display: block;
      max-width: 196px;
      margin: 10px auto 0;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: $secondary-text-color;
    }
  }
  &__list {
    img {
      max-width: 72px;
      max-height: 72px;
      margin: 35px auto 0;
    }
    h3 {
      margin: 20px auto;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: $primary-text-color;
    }
    span {
      display: block;
      margin: 20px auto 35px;
      max-width: 225px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }
}

.featured-posts{
  &__wrapper {
    margin: 80px auto;
  }
  &__grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 30px;
    grid-template-areas: 'grid-cell-card1' 'grid-cell-card2';
  }
  &__grid-cell:nth-child(1) {
    grid-area: grid-cell-card1;
  }
  &__grid-cell:nth-child(2) {
    grid-area: grid-cell-card2;
  }
  &__header {
    text-align: center;
    p {
      margin: 0;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $third-text-color;
    }
    h2 {
      max-width: 310px;
      margin: 10px auto 50px;
      font-size: 40px;
      font-weight: 700;

    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 10%);

    img {
      max-width: 330px;
    }
  }
  &__card-status {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    background-color: #E74040;
    border-radius: 3px;
  }
  &__card-tags {
    display: flex;
    margin: 25px 25px 10px;
    gap: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;

    li:first-child {
      color: #8EC2F2;
    }
  }
  &__card-sub-title {
    margin: 10px 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $primary-text-color;
  }
  &__card-description{
    margin: 10px 25px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
  &__statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    padding: 15px 0;

    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    img {
      max-width: 16px;
      max-height: 16px;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      color: $secondary-text-color;
    }
  }
  &__link-details {
    display: flex;
    align-items: center;
    margin: 10px 25px 35px;
    gap: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
}
.footer {
  &__contacts, &__copyright {
    background-color: #FAFAFA;
  }
  &__contacts-wrapper {
    margin: 0 45px;
    padding: 40px 0;
  }
  &__logo {
    display: block;
    padding: 13px 0;
    margin: 0 0 11px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: $primary-text-color;
  }
  &__sn-list {
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      max-width: 24px;
      max-height: 24px;
    }
  }
  &__navigation {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: 0 45px;
      padding: 70px 0;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h2 {
        display: block;
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $primary-text-color;
      }
      a {
        color: $secondary-text-color;
      }
      span {
        display: block;
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: $primary-text-color;
      }
    }
  }
  &__subscribe {
    gap: 0;

    h2 {
      margin: 0 0 20px;
    }
  }
  &__input {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $secondary-text-color;
      border-radius: 5px;
    }
    &-email, &-submit {
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
    &-email {
      padding: 15px 0 15px 20px;
      border: none;
      border-radius: 5px;
      background-color: #F9F9F9;
      color: $secondary-text-color;
    }
    &-submit {
      padding: 15px 23px;
      border-radius: 0 5px 5px 0;
      border: none;
      background-color: $third-text-color;
      color: #fff;
    }
  }
  &__copyright-wrapper {
    padding: 25px 0;
    text-align: center;

    span {
      display: block;
      max-width: 205px;
      margin: 0 auto;
      line-height: 24px;
      letter-spacing: 0.2px;
      color: $secondary-text-color;
    }
  }
}