@import "mixins";
@import "variables";

.adv {
  &__wrapper{
    margin: 0 13px 110px;
    background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);
    border-radius: 20px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__paragraph {
    max-width: 125px;
    margin: 80px 0 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #2A7CC7;
  }
  &__title {
    max-width: 270px;
    margin: 30px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: $primary-text-color;
  }
  &__description {
    max-width: 290px;
    margin: 0 0 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
  &__button {
    min-width: 220px;
    min-height: 62px;
    margin: 0 0 73px;
    border: 0;
    border-radius: 5px;
    background-color: $third-text-color;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
  }
}
.brand {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin: 0 0 111px;
    img {
      max-width: 149px;
      max-height: 142px;
    }
  }
}

.top-product {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 35px 104px;
    overflow: hidden;
  }
  &__container {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__bg-content {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 345px;
    min-height: 238px;
    background-color: rgba(45, 139, 192, 0.75);
  }
  &__content {
    position: absolute;
    left: 41px;
    bottom: 36px;
  }
  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #fff;
  }
  &__button {
    @include primary-font();
    min-width: 198px;
    min-height: 52px;
    margin: 26px 0 0;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: none;
    color: #fff;
  }
}

.best-seller {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 35px;

    button {
      min-width: 256px;
      min-height: 52px;
      @include primary-font();
      line-height: 22px;
      letter-spacing: 0.2px;
      color: $third-text-color;
      border: 1px solid $third-text-color;
      border-radius: 5px;
      background: none;
      margin: 0 0 80px;
    }
  }
  &__title {
    max-width: 240px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0 0 10px;
    color: $primary-text-color;
  }
  &__description {
    max-width: 260px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
    margin: 0 0 32px;
  }
  &__grid {
    &-container {
      display: grid;
      padding: 24px;
      grid-template-columns: 1fr;
      gap: 30px;

      img {
        max-width: 300px;
        max-height: 360px;
      }
    }
    &-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__sub-title {
    max-width: 240px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: $primary-text-color;
    margin: 25px 0 10px;
  }
  &__category {
    max-width: 240px;
    display: block;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
    margin: 10px 0;
  }
  &__price-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__price-wholesale, &__price-retail {
    display: block;
    max-width: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0 0 40px;
  }
  &__price-wholesale {
    color: $secondary-text-color;
  }
  &__price-retail {
    color: #23856D;
  }
}

.our-thoughts {
  &__wrapper {
    padding: 0 20px;
  }
  &__text-container {
    margin: 80px 47px 50px;
  }
  &__paragraph, &__title, &__description{
    max-width: 258px;
  }
  &__paragraph {
    margin: 0 0 16px;
    font-size: 16px;
    color: $third-text-color;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  &__title {
    margin: 16px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: $primary-text-color;
  }
  &__description {
    display: block;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $secondary-text-color;
  }
  &__list {
    display: flex;
    margin: 0 0 80px;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 205px;
      max-height: 363px;
    }
  }
}