$primaryColor: #F53838;
$subPrimaryColor: #F53855;
$secondaryColor: #4F5665;
$titleTextColor: #0B132A;
$primaryFontSize: 16px;
$primaryFontWeight: 400;
$primaryFontFamily: 'Rubik', sans-serif;

$customCursorArrow: url("/lesson_11/HW_L11/assets/images/icon-cursor_16.png"),
url("/H_Fullstack_JS/lesson_11/HW_L11/assets/images/icon-cursor_16.png");
$customCursorPointer: url("/lesson_11/HW_L11/assets/images/icon-tap_16.png"),
url("/H_Fullstack_JS/lesson_11/HW_L11/assets/images/icon-tap_16.png");
