$primary-color: #F53838;
$sub-primary-color: #F53855;
$secondary-color: #4F5665;
$title-text-color: #0B132A;
$primary-font-size: 16px;
$primary-font-weight: 400;
$primary-font-family: 'Rubik', sans-serif;

$custom-cursor-arrow: url("/lesson_11/HW_L11/assets/images/icon-cursor_16.png"),
url("/H_Fullstack_JS/lesson_11/HW_L11/assets/images/icon-cursor_16.png");
$custom-cursor-pointer: url("/lesson_11/HW_L11/assets/images/icon-tap_16.png"),
url("/H_Fullstack_JS/lesson_11/HW_L11/assets/images/icon-tap_16.png");
