.reviews {
  min-width: 950px;
  background-color: #f7f9fa;
}

.wrapper {
  max-width: 1440px;
  min-width: 925px;
  padding: 32px 24px;
  margin: 0 auto;
}

.title {
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 700;
  color: #2d2f31;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 325px;
  max-width: 485px;
  width: calc((100vw - 48px - 35px) / 3);
  min-height: 300px;
  padding: 24px;
  background-color: #fff;
  border: 1px solid #d1d7dc;
}

.quote {
  max-width: 18px;
  margin: 0 0 16px
}

.text {
  display: block;
  text-align: start;
  margin: 0 0 16px;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;

  &-initials, &-name {
    font-size: 14px;
    font-weight: 700;
  }
  &-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
  }
}

.dividing-line {
  margin: 24px 0;
}

.course {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #5624d0;

  &-name {
    display: block;
    text-align: start;
  }
}

.play {
  max-width: 32px;
  margin: 0;
}