.media {
    &__wrapper {
        max-width: 1024px;
        padding: 20px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    &__item, &__list-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 500px;
    }

    &__item {
        max-width: 500px;
    }

    &__title {
        font-size: 30px;
        margin: 0;
        max-width: 300px;
    }

    &__poster {
        max-width: 300px;
        max-height: 450px;
    }

    &__rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px
    }

    &__list-info {
        padding: 85px 0 0;
    }

    &__item-info {
        display: flex;
        align-items: baseline;
        gap: 10px
    }

    &__info {
        &-title {
            font-size: 17px;
            margin: 0;
            color: #9f9f9f;
        }

        &-content {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
    }

    &__button {
        display: block;
        margin: 20px auto 0;
        min-width: 66px;
        min-height: 30px;
        border: 1px solid #9f9f9f;
        border-radius: 10px;
        font-weight: 600;
        box-shadow: 0 0 5px #a1a1a1;

        &:hover {
            background-color: #9f9f9f;
            color: #f4f4f4;
            box-shadow: 0 0 11px #5b5757;
        }
    }
}